/* common css */
*{
    box-sizing: border-box;
}
body{
font-family: 'Poppins', sans-serif;
background-color: #ffffff;
color:#0c0c0c;
}
.container{
    border: 1px solid #0c0c0c;
}
.darkblue{
    color: #0f2480;
}
.lightblue{
    color:#3554d1;
}
h1{
    font-size:64px;
    font-weight: bold;
    margin-bottom: 25px;
}
h2{
    font-weight: bold;
}
h3,h4{
    font-weight: bold;
    font-size: 18px;
}
.bl{
    border-left: 1px solid #3554d1;
}
.box img{
 margin-bottom: 15px;
}
section{
    padding-bottom: 90px;
}
.Slider{
    margin-top: 75px;
    position: relative;
}
.header-container{
    display: flex;
    flex-direction: column;
}
.header-container h2{
    padding-left: 5px;
    position: relative;
    border-left: 7px solid #0f2480;
    font-weight: bold;
}

.btn-box a, .btn-orange a{
    display: inline;
    padding: 7px 30px;
    text-decoration: none;
    border: 1px solid #3554d1;
    background-color: transparent;
    border-radius: 25px;
    transition: all 0.3s;  
 }
 .btn-box a:hover{
    background-color: #3554d1;
    color: #ffffff;
 }
 
 
 
/* common css */
/* header */
.header{
    background-image: url(../image/hero-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60% 100%;
}
.Slider p{
    margin-bottom: 45px;
}
/* header : the end */
/* About */

.about{
   padding-top: 85px;
   padding-left: 50px;
}

.about p {
    padding-bottom: 25px;
}
/* About : the end */
/* Sales */
 .Sale .header-container{
    align-items: center;
}
.sale-container{
    margin-bottom: 45px;
}
.Sale .btn-box{
    display: flex;
    justify-content: center;
}

/* Sales:the end */
/* Pricing */
.Pricing .header-container{
    align-items: center;
    margin-bottom: 25px;
}
.Pricing .btn-orange{
    display: flex;
    justify-content: center;
}
.btn-orange a{
    background-color: #0f2480;
    color: #ffffff;
}
.price-box{
    background-color: #0f2480;
    color: #ffffff;
    padding-bottom: 25px;
    padding-top: 10px;
}
.content-box{
    background-color: #3554d1;
    color: #ffffff;
    padding:45px 0;
}
.content-box h2{
    position: relative;
    padding-bottom: 20px;
}
.content-box h2:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 45px;
    height: 5px;
    border-radius: 10px;
    transform: translateX(-50%);
    background-color: #ffffff;
}
/* Pricing: the end */
